<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<article>
    <header>
        <nav class="clear">
            <ul>
                <li><a href="/persons">Person Page</a></li>
                <li><a href="/">Question page</a></li>
            </ul>
        </nav>
        <h1>App for testing</h1>
    </header>

    <ul>
        <h1>Edit person:</h1>

        <form th:method="POST" th:action="@{/persons/{id}(id=${person.getId()})}" th:object="${person}">
            <label for="name">Enter your name: </label>
            <input type="text" th:field="*{name}" id="name"/>
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            <br/>
            <label for="surname">Enter your surname: </label>
            <input type="text" th:field="*{surname}" id="surname"/>
            <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
            <br/>
            <label for="surname">Enter your patronymic: </label>
            <input type="text" th:field="*{patronymic}" id="patronymic"/>
            <div style="color: red" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">Patronymic Error</div>
            <br/>
            <label for="phoneNumber">Enter your Phone Number: </label>
            <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
            <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">PhoneNumber Error</div>
            <br/>
            <label for="email">Enter your email: </label>
            <input type="text" th:field="*{email}" id="email"/>
            <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
            <br/>
            <input type="submit" value="Update!"/>
        </form>
    </ul>
</article>

</body>
</html>