<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/styles_show.css}">
  <meta charset="UTF-8">
  <title>Show Person</title>
</head>
<body>

<article>
  <div class="content-wrapper">
    <header>
      <nav class="clear">
        <ul>
          <li><a href="/persons">Person Page</a></li>
          <li><a href="/tests">Tests Page</a></li>
        </ul>
      </nav>
      <h1>Testing App</h1>
    </header>
  </div>
  <ul>
    <div class="container">
      <h1 class = "inf">Person information:</h1>

      <p th:text="${'Name: ' + person.getName()}">VALUE</p>
      <p th:text="${'Surame: ' + person.getSurname()}">VALUE</p>
      <p th:text="${'Patronymic: ' + person.getPatronymic()}">VALUE</p>
      <p th:text="${'Phone Number: ' + person.getPhoneNumber()}">VALUE</p>
      <p th:text="${'Email: ' + person.getEmail()}">VALUE</p>


      <form th:method="GET" th:action="@{/persons/{id}/edit(id=${person.getId()})}">
        <input class = "input-btn" type="submit" value="Edit"/>
      </form>

    </div>
  </ul>
</article>

</body>
</html>