<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>All Tests</title>
</head>
<body>
<article>
    <header>
        <nav class="clear">
            <ul>
                <li><a href = "/question/new">New Question</a></li>
                <li><a href = "/question">Question Page</a></li>
                <li><a th:href="@{/tests/create}">Create New Test</a></li>
            </ul>
        </nav>
        <h1>Testing App</h1>
    </header>

    <ul>
        <h1>All Tests</h1>
        <div class = "for-list">
        <p th:each="test : ${tests}">
            <a th:href="@{/tests/{id}/take(id=${test.id})}" th:text="${test.title}"></a>
            <span th:if="${#lists.isEmpty(test.questions)}"> (No questions)</span>
        </p>
        </div>
    </ul>

</article>
</body>
</html>