<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<article>
    <header>
        <nav class="clear">
            <ul>
                <li><a href="/persons">Person Page</a></li>
                <li><a href="/">Question page</a></li>
            </ul>
        </nav>
        <h1>App for testing</h1>
    </header>

    <ul>
        <h1>Edit Question:</h1>

        <form th:method="POST" th:action="@{/questions/{id}(id=${question.getId()})}" th:object="${question}">
            <label for="content">Enter the content: </label>
            <input type="text" th:field="*{content}" id="content"/>
            <div style="color: red" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</div>
            <br/>
            <input type="submit" value="Update!"/>
        </form>
    </ul>
</article>

</body>
</html>