<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>New Question</title>
    <script>
        function addOptionField() {
            const optionFields = document.getElementById("option-fields");
            const optionIndex = optionFields.children.length;

            const newOptionField = document.createElement("div");
            newOptionField.innerHTML = `
                <h3>Option ${optionIndex + 1}</h3>
                <label for="option_content_${optionIndex}">Enter the option content:</label>
                <input type="text" name="optionContent" id="option_content_${optionIndex}" required>
                <br>
            `;
            optionFields.appendChild(newOptionField);
        }
    </script>
</head>
<body>

<article>

    <header>
        <nav class="clear">
            <ul>
                <li><a href="/persons">Persons page</a></li>
                <li><a href="/question">Question page</a></li>
            </ul>
        </nav>
        <h1>Testing App</h1>
    </header>

    <ul>
        <h1>Add new Question:</h1>

        <form th:method="POST" th:action="@{/question/create}" th:object="${question}">
            <label for="content_id">Enter the question content:</label>
            <input type="text" th:field="*{content}" id="content_id"/>
            <div style="color: red" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</div>
            <br>
            <br>
            <h2>Options:</h2>
            <div id="option-fields">
                <div>
                    <h3>Option 1</h3>
                    <label for="option_content_0">Option Name:</label>
                    <input type="text" name="optionContent" id="option_content_0" required>
                    <br>
                    <br>
                </div>
            </div>

            <button type="button" onclick="addOptionField()">Add Option</button>
            <button type="submit">Add Question</button>
        </form>
    </ul>
</article>

</body>
</html>