<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles_show.css}">
    <meta charset="UTF-8">
    <title>Show Person</title>
</head>
<body>

<article>
    <div class="content-wrapper">
        <header>
            <nav class="clear">
                <ul>
                    <li><a href="/persons">Persons page</a></li>
                    <li><a href="/question">Questions page</a></li>
                </ul>
            </nav>
            <h1>Testing App</h1>
        </header>
    </div>
    <ul>
        <div class="container">
            <h1 class = "inf">Question information:</h1>

            <p th:text="${'Question: ' + questions.content}"></p>

            <h3>Options:</h3>
            <ul th:each="option : ${questions.questionOptions}">
                <li th:text="${option.option_content}"></li>
            </ul>
        </div>
    </ul>
</article>

</body>
</html>